extends layout

block content
  div.container
    h1= title
    div.btn-group.pull-right
      a.btn.btn-default(href="/domino/#{data.MainID}/edit") Edit
    ul.breadcrumb
      li
        a(href="/") Home
      li
        a(href="/domino") View

    form
      each field, fieldname in data
        if(fieldname.indexOf("@") == -1)
          div.form-group
            label #{fieldname}
            p !{field}
