extends layout

block content
  div.col-md-4.col-md-offset-4
    form.form-signin(role='form' action="/login" method="POST", autocomplete="off")
      h2.form-signin-heading Please sign in
      input.form-control(name='username', id='username', placeholder='Username', required='', autofocus='')
      input.form-control(name='password', id='password', type='password', placeholder='Password', required='')
      if(error)
        div.alert.alert-danger
          | #{error}
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
